#navbar {
  margin-bottom: 210px;
}
#course-section {
  padding: calc(80px + 1rem) 0px;
  width: 100%;
  min-height: 100%;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  gap: 2em;
}
.course-name {
  font-family: 'Platform-Regular';
  font-size: 80px;
}
.course-code {
  font-size: 40px;
}
.topics-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1em 0;

}
.topic-container {
  background-color:white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  padding: 0.5em 2em;
  border-radius: 15px;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.493);
}
.topic-container:hover {
  transform: scale(1.02);
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  letter-spacing: 2px;
  white-space: nowrap;
  overflow: hidden;
  width: 85%;
}
.topic-container a {
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;

}
.text p{
  font-size: 30px;
}
.text .category {
  font-size: 20px;
  background-color: lightblue;
  padding: 5px 10px;
  border-radius: 15px;
  margin-bottom: 8px;
}