/* sign-up */

.main-container {
  padding: 120px  0;
  width: 100%;
  overflow-x: hidden;
  min-height: 85vh;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.up-img {
  width: 380px;
}

.up-form h2 {
  font-family: "Platform-Light";
  font-size: 55px;
  line-height: 80%;
  /* letter-spacing: ; */
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-bottom: solid 2px rgb(148, 148, 148);
}

.input-container:focus-within{
  border-bottom: solid 2px black;
}

.input-container i {
  font-size: 18px;
}

.up-inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

input {
  padding: 5px;
  font-size: 16px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-family: 'Figtree';
}

input:disabled {
  cursor: not-allowed;
}

.up-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.up-submit a {
  font-weight: bold;
  font-size: 16px;
}

.up-submit button {
  border: none;
  background-color: black;
  color: white;
  padding: 15px 50px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 0 0 8px black;
}

.up-submit {
  margin-top: 40px;
}

/* log-in */

.in-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.in-img {
  width: 380px;
}

.in-form h2 {
  font-family: "Platform-Light";
  font-size: 55px;
  line-height: 80%;
}

.in-inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.in-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.in-submit a {
  font-weight: bold;
  font-size: 16px;
}

.in-submit button {
  border: none;
  background-color: black;
  color: white;
  padding: 15px 55px;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  border: solid 2px black;
  transform: all 0.3s ease;
  box-shadow: 0 0 8px black;
}

.in-submit {
  margin-top: 30px;
}

button:hover {
  color: black;
  background-color: white;
}

.change-pwd {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.change-form {
  width: 100%;
  min-height: 85vh;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.change-form h2 {
  font-family: 'Platform-Light';
  font-size: 80px;
  line-height: 80%;
}

.change-inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 550px;
}

.change-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.change-submit button {
  border: none;
  background-color: black;
  color: white;
  padding: 20px 70px;
  font-size: 25px;
  border-radius: 40px;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 0 0 8px black;
}

.change-submit button:hover {
  color: black;
  background-color: white;
}

.change-submit {
  margin-top: 40px;
}

.change-inputs input {
  padding: 5px;
  font-size: 26px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
}

.change-inputs .input-container i {
  font-size: 24px;
}

.change-inputs .input-container {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 5px;
  border-bottom: solid 2px rgb(148, 148, 148);
}

@media (max-width : 900px) {
  .up-img, .in-img {
    width: 280px;
  }
  .up-form h2, .in-form h2 {
    font-size: 45px;
  } 
  .up-submit button, .in-submit button {
    padding: 10px 25px;
    font-size: 16px;
  }
}

@media (max-width : 768px) {
  .up-form h2, .in-form h2 {
    font-size: 40px;
  } 
  .up-img, .in-img {
    width: 200px;
  }
  .up-inputs, .in-inputs {
    gap: 15px;
  }
  input {
    font-size: 14px;
  }
  .input-container i {
    font-size: 16px !important;
  }
  .up-submit button, .in-submit button, .up-submit a {
    font-size: 14px;
  }
  .change-form h2 {
    font-size: 70px;
  }
  .change-inputs input {
    font-size: 18px;
  }
  .change-inputs .input-container i {
    font-size: 16px;
  }
  .change-inputs {
    width: 450px;
  }
  .change-submit button {
    font-size: 18px;
    padding: 10px 30px;
  }
}

@media (max-width : 550px) {
  .in-form h2 {
    font-size: 55px;
  }
  .up-form h2, .in-form h2 {
    text-align: center;
  }
  h2 > span {
    display: inline-block !important;
  }
  .up-img, .in-img {
    display: none;
  }
  .main-container {
    justify-content: center;
  }
  .change-form h2 {
    font-size: 55px;
  }
  .change-inputs input {
    font-size: 18px;
  }
  .change-inputs .input-container i {
    font-size: 16px;
  }
  .change-inputs {
    width: 350px;
  }
  .change-submit button {
    font-size: 16px;
    padding: 10px 25px;
  }
}

@media (max-width : 400px) {
  .up-form h2 {
    font-size: 35px;
  }
  .in-form h2 {
    font-size: 45px;
  }
  .up-inputs, .in-inputs {
    gap: 10px;
  }
  input {
    font-size: 12px;
  }
  .input-container i {
    font-size: 14px !important;
  }
  .up-submit button, .in-submit button, .up-submit a {
    font-size: 12px;
  }
  .change-form h2 {
    font-size: 40px;
  }
  .change-inputs input {
    font-size: 16px;
  }
  .change-inputs .input-container i {
    font-size: 14px;
  }
  .change-inputs {
    width: 250px;
  }
  .change-submit button {
    padding: 10px 25px;
  }
}
