/* Video */

#intro-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#intro-section video {
    overflow-x: hidden; 
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    position: fixed;
    z-index: -5000;
}

.intro-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 3em;
    text-align: center;
    white-space: nowrap;
}
.intro-card h3 {
    font-family: 'Platform-Regular';
    font-size: 120px;
    line-height: 90%;
}
.intro-card p {
    font-size: 30px;
}
.intro-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}
.intro-btn-container div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.log-in-btn, .get-started-btn {
    font-size: 18px;
}

/* Path Section */

#path-section {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#path-section h1 {
    font-family: 'Platform-Bold';
    font-size: 80px;
    color: white;
}
#path-section h1 span {
    color: #858585;
}
.paths-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.olevel-path, .alevel-path {
    width: 30vw;
    min-height: 20vh;
    padding: 1em 2em;
    background-color: white;
    border: 2px solid black;
    box-shadow: 8px 8px 3px 0 rgba(255, 255, 255, 0.651);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.olevel-path:hover, .alevel-path:hover {
    cursor: pointer;
    transform: translate(0px, -20px);
}
.line-one {
    font-size: 50px;
    font-weight: bold;
}
.line-two {
    font-size: 25px; 
    margin: 1em 0;
}
.line-three {
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: lighter;
    align-self: flex-start;
}

/* Works Section */

#works-section {
    background-color: rgb(0, 0, 0);
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#works-section h1 {
    font-family: 'Platform-Bold';
    font-size: 80px;
}
.steps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
.step {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2em 1em;
    border: solid 2px white;
    width: 22vw;
    min-height: 50vh;
    text-align: center;
}
.step img {
    width: 150px;
    height: auto;
}
.step .head {
    font-size: 30px;
    font-weight: bolder;
}
.step .mid {
    margin-top: -2.5em;
    font-size: 16px;
}

/* Laptop L */
@media (min-width : 1440px ) {
    .intro-card h3 {
        font-size: 160px;
    }
    .intro-card p {
        font-size: 35px;
    }
    .log-in-btn, .get-started-btn {
        font-size: 22px;
    }
    #path-section h1 {
        font-size: 100px;
    }
    .step .head  {
        font-size: 40px;
    }
    .step .mid {
        font-size: 22px;
        margin-top: -1.5em;
    }
}

/* Laptop */
@media (max-width : 1090px ) {
    .intro-card h3 {
        font-size: 90px;
    }
    .intro-card p {
        font-size: 20px;
    }
    .line-one {
        font-size: 40px;
    }
    .line-two {
        font-size: 16px; 
    }
    .line-three {
        font-size: 14px;
        padding: 5px 10px;
    }
    #works-section h1 {
        font-size: 70px;
    }
    .steps-container {
        gap: 2em;
    }
    .step img {
        width: 130px;
    }
    .step {
        height: 60vh;
        width: 25vw;
    }
    .step .head  {
        font-size: 28px;
    }
    .step .mid {
        font-size: 18px;
        margin-top: 0.2em;
        margin-bottom: 1em;
    }
}
@media (max-width : 900px) {
    .steps-container {
        margin-top: 1em;
        flex-direction: column;
        gap: 1em;
    }
    .step {
        width: 50vw;
        height: 22vh;
    }
    .step .head  {
        font-size: 28px;
    }
    .step .mid {
        font-size: 18px;
        margin-top: 0.2em;
        margin-bottom: 1em;
    }
    #works-section h1 {
        font-size: 60px;
        margin-top: 10px;
    }
}
@media (max-width : 725px ) {
    #path-section h1 {
        font-size: 60px;
    }
    .paths-container {
        flex-direction: column;
    }
    .olevel-path, .alevel-path {
        width: 50vw;
    }
    .line-one {
        font-size: 22px;
    }
    .line-two {
        font-size: 15px; 
    }
    .line-three {
        font-size: 10px;
        padding: 5px 10px;
    }
    .steps-container {
        margin-top: 1em;
        flex-direction: column;
        gap: 1em;
    }
    .step {
        width: 55vw;
    }
}

/* Mobile L */
@media (max-width : 500px ) {
     #intro-section video{
        display: none;
    }
    .intro-card h3 {
        font-size: 70px;
    }
    .intro-card p {
        font-size: 15px;
    }
    .intro-card {
        padding: 1em 1em;
        transform: translate(-50%, -50%);
    }
    .log-in-btn, .get-started-btn {
        font-size: 16px;
    }
    #path-section h1 {
        font-size: 45px;
    }
    .paths-container {
        flex-direction: column;
    }
    .olevel-path, .alevel-path {
        width: 50vw;
    }
    .step {
        width: 60vw;
    }
    #works-section h1 {
        font-size: 40px;
    }
    .step .head  {
        font-size: 26px;
    }
    .step .mid {
        font-size: 16px;
    }
}

/* Mobile M */
@media (max-width : 420px ) {
    .intro-card h3 {
        font-size: 65px;
    }
    .intro-card p {
        font-size: 15px;
    }
    .intro-card {
        padding: 1em 1em;
        transform: translate(-50%, -50%);
    }
    .log-in-btn, .get-started-btn {
        font-size: 14px;
        padding: 1em 1.5em;
    }
    .step {
        width: 70vw;
        height: 22vh;
    }
    .step img {
        width: 100px;
    }
}

/* Mobile S */
@media (max-width : 360px ) {
    .intro-card h3 {
        font-size: 50px;
    }
    .intro-card p {
        font-size: 15px;
    }
    .intro-card {
        padding: 1em 1em;
        transform: translate(-50%, -50%);
    }
    .log-in-btn, .get-started-btn {
        font-size: 12px;
        padding: 1em 0.9em;
    }
    #path-section h1 {
        font-size: 35px;
    }
    .line-one {
        font-size: 20px;
    }
    .line-two {
        font-size: 12px; 
    }
    .line-three {
        font-size: 8px;
        padding: 5px 10px;
    }
    .step {
        width: 70vw;
        padding: 0 1em;
    }
    .step .head  {
        font-size: 24px;
    }
    .step .mid {
        font-size: 14px;
    }
}

/* Trust Section */

#trust-section {
    box-sizing: border-box;
    background-color: #ffffff;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 80px;
}

.trusted {
    font-family: 'Platform-Bold';
    font-size: 80px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
}

/* .logos:hover .logos-slide {
    animation-play-state: paused;
} */

.logos:before, .logos:after {
    position: absolute;
    top:0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left ,rgba(255,255,255,0), white);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right ,rgba(255,255,255,0), white);
}

.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}

.logos-slide img {
    height: 100px;
    margin: 0 40px;
}

/* Guides Section */

#guides-section {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 85vh;
    align-items: center;
}

.study-guides {
    font-size: 120px;
    font-family: 'Platform-Bold';
    display: flex;
    margin: 45px;
}

.byAndread {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.byAndread p {
    font-size: 30px;
}

.read-now-btn {
    font-size: 18px;
    margin: 20px 0;
}

@media (max-width : 900px ) {
    .study-guides {
        font-size: 100px;
    }
    .byAndread p {
        font-size: 26px;
    }
    .read-now-btn {
        font-size: 16px;
    }
    .trusted {
        font-size: 60px;
    }
    .logos-slide img {
        height: 60px;
    }
    .logos:before, .logos:after {
        width: 40px;
    }
    .logos {
        padding: 20px;
    }
    .logos-slide img {
        margin: 0 30px;
    }
}

@media (max-width : 700px ) {
    .study-guides {
        font-size: 80px;
    }
    .byAndread p {
        font-size: 22px;
    }
    .read-now-btn {
        font-size: 16px;
    }
    .trusted {
        font-size: 50px;
    }
    .logos-slide img {
        height: 50px;
    }
    .logos:before, .logos:after {
        width: 30px;
    }
    .logos {
        padding: 10px;
    }
    .logos-slide img {
        margin: 0 20px;
    }
}

@media (max-width : 580px ) {
    .study-guides {
        font-size: 60px;
        justify-content: space-evenly;
        margin: 30px;
    }
    .byAndread p {
        font-size: 18px;
    }
    .read-now-btn {
        font-size: 14px;
    }
    #trust-section {
        margin: 30px;
        padding: 0;
    }
    .trusted {
        font-size: 30px;
    }
    .logos-slide img {
        height: 40px;
    }
    .logos:before, .logos:after {
        width: 20px;
    }
    .logos {
        padding: 10px;
    }
    #intro-section video {
        display: none;
    }
}

@media (max-width : 425px) {
    .study-guides {
        font-size: 40px;
        margin: 10px;
    }
    .byAndread p {
        font-size: 12px;
    }
    .read-now-btn {
        font-size: 12px;
    }
    .trusted {
        font-size: 25px;
    }
    .logos-slide img {
        height: 30px;
    }
    .logos:before, .logos:after {
        width: 20px;
    }
    .logos {
        padding: 5px;
    }
}
