#progress-container {
  padding: calc(80px + 1rem) 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100%;
  background-color: lightgray;
}
#progress-container h1 {
  font-size: 80px;
  font-family: 'Platform-Regular';
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}