#navbar {
  mix-blend-mode: difference;
}
.navbar-content {
  justify-content: center;
}

#path-section {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#path-section h1 {
  font-family: 'Platform-Bold';
  font-size: 80px;
  color: white;
}
#path-section h1 span {
  color: #858585;
}
.paths-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.olevel-path, .alevel-path {
  width: 30vw;
  height: 40vh;
  padding: 1em 2em;
  background-color: white;
  border: 2px solid black;
  box-shadow: 8px 8px 3px 0 rgba(255, 255, 255, 0.651);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.olevel-path:hover, .alevel-path:hover {
  cursor: pointer;
  transform: translate(0px, -20px);
}
.line-one {
  font-size: 50px;
  font-weight: bold;
}
.line-two {
  font-size: 25px; 
  margin: 1em 0;
}
.line-three {
  font-size: 20px;
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: lighter;
  align-self: flex-start;
}


/* Laptop */
@media (max-width : 1090px ) {
  .line-one {
      font-size: 40px;
  }
  .line-two {
      font-size: 16px; 
  }
  .line-three {
      font-size: 14px;
      padding: 5px 10px;
  }
}

@media (max-width : 725px ) {
  #path-section h1 {
      font-size: 60px;
  }
  .paths-container {
      flex-direction: column;
  }
  .olevel-path, .alevel-path {
      width: 50vw;
      height: 20vh;
  }
  .line-one {
      font-size: 22px;
  }
  .line-two {
      font-size: 15px; 
      margin: 0.5em 0;
  }
  .line-three {
      font-size: 10px;
      padding: 5px 10px;
  }
}

/* Mobile L */
@media (max-width : 500px ) {
  #path-section h1 {
      font-size: 45px;
  }
  .paths-container {
      flex-direction: column;
  }
  .olevel-path, .alevel-path {
      width: 50vw;
  }
}

/* Mobile S */
@media (max-width : 360px ) {
  #path-section h1 {
      font-size: 35px;
  }
  .line-one {
      font-size: 20px;
  }
  .line-two {
      font-size: 12px; 
  }
  .line-three {
      font-size: 8px;
      padding: 5px 10px;
  }
  .step {
      width: 70vw;
      padding: 0 1em;
  }
}
