/* Platform Font */

@font-face {
  font-family: 'Platform-Bold'; 
  src: url('../fonts/Platform-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Platform-Regular'; 
  src: url('../fonts/Platform-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Platform-Light'; 
  src: url('../fonts/Platform-Light.woff2') format('woff2');
}

html {
  scroll-behavior: smooth;
  font-family: "Figtree", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  transition: all ease 0.3s;
  box-sizing: border-box;
}
body, html {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0.7vw;
}
::-webkit-scrollbar-track {
  background-color: black;
}
::-webkit-scrollbar-thumb {
  background-color: white;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background: none;
  border: none;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
  padding: 2em 1em;
  width: 100vw;
  min-height: 100vh;
}
.sidebar-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  gap: 2em;
  padding: 1.5em 1.5em;
  padding-bottom: 3em;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.932);
}
.menu-item {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  transition: all ease 0.1s;
}
.menu-item:hover {
  color: rgba(255, 255, 255);
}
.active {
  color: rgba(255, 255, 255);
}
.sidebar-container img {
  width: 100px;
  height: auto;
  align-self: center;
  cursor: pointer;
}
.menu-item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.menu-item i {
  font-size: 14px;
}
.main-container {
  
  background-color: white;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.932);
}
form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  width: 50vw;
  /* background-color: red; */
}
.input-container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 1.5em 2em;
  border-radius: 15px;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.932);
}
.input-container h1 {
  font-family: 'Platform-Light';
  font-size: 35px;
}
input {
  color: white;
  padding: 5px;
  font-size: 16px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-family: 'Figtree';
  letter-spacing: 1px;
}
input:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.btns-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0em 0.5em 2em;
  margin-bottom: 1em;
  /* background-color: yellow; */
}
.btns-container a {
  font-size: 20px;
}
button {
  border: none;
  padding: 10px 40px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 0 0 8px black;
  font-family: 'Figtree';
}
button:hover {
  color: white;
  background-color: black;
}
.danger-container {
  width: 50vw;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  padding: 1.5em 2em;
  border-radius: 15px;
  border: solid 2px black;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.932);
  margin-top: 10px;
  
}
.delete {
  background-color: #ff0f0f;
  color: white;
  box-shadow: 0 0 8px rgb(121, 0, 0);
  border: solid 2px #ff0f0f;
}
.delete:hover {
  color: #ff0f0f;
  background-color: white;
  border-color: #ff0f0f;
  box-shadow: 0 0 0 0;
}
.reset {
  background-color: #ff0f0f;
  color: white;
  box-shadow: 0 0 8px rgb(121, 0, 0);
  border: solid 2px #ff0f0f;
}
.reset:hover {
  color: #ff0f0f;
  background-color: white;
  border-color: #ff0f0f;
  box-shadow: 0 0 0 0;
}