/* Platform Font */

@font-face {
    font-family: 'Platform-Bold'; 
    src: url('../fonts/Platform-Bold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Platform-Regular'; 
    src: url('../fonts/Platform-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Platform-Light'; 
    src: url('../fonts/Platform-Light.woff2') format('woff2');
  }

html {
    scroll-behavior: smooth;
    font-family: "Figtree", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    transition: all ease 0.3s;
}

/* Footer */

#footer {
    background-color: #ffffff;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 85vh;
}

.infix-logo-top {
    display: flex;
    justify-content:center;
}

.infix-logo-top > .infix-logo {
    width: 150px;
    height: 150px;
}

.help-us {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.help-us-expand {
    font-size: 100px;
    font-family: 'Platform-Bold';
    margin: 30px;
}

.gray {
    color: #858585;
}

.action-buttons{
    display: flex; 
    width: 600px;
    justify-content: space-around;
}

.donate, .contribute {
    text-align: center;
    border: 2px solid #000000;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    width: 150px;
    color: #000000;
    font-size: 22px;
}

.donate {
    background-color: #000000;
    color: #ffffff;
}

.facebook-icon, .instagram-icon {
    width: 22px;
    height: 22px;
    padding-left: 5px;
    margin-bottom: -5px;
}

.links {
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.contact-email {
    margin-top: -2px;
}

.other-links {
    text-align: right;
}

a {
    text-decoration: none;
    color: #000000;
}

.copyright {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 18px;
    color: black;
}

@media (max-width : 900px) {
    .infix-logo-top > .infix-logo {
        height: 125px;
        width: 125px;
    }
    .help-us-expand {
        font-size: 80px;

    }
    .donate, .contribute {
        font-size: 18px;
        width: 100px;
    }
    .links {
        font-size: 18px;
    }
    .facebook-icon, .instagram-icon  {
        height: 18px;
        width: 18px;
        margin-bottom: -2px;
    }
    .copyright {
        font-size: 16px;
    }
}

@media (max-width : 700px) {
    .help-us-expand {
        font-size: 70px;
    }
    .donate, .contribute {
        width: 80px;
        padding: 5px 10px;
    }
    .links, .donate, .contribute {
        font-size: 16px;
    }
}

@media (max-width : 550px) {
    .help-us-expand {
        font-size: 50px;
    }
    .donate, .contribute {
        width: 70px;
    }
    .links, .donate, .contribute  {
        font-size: 14px;
    }
    .action-buttons {
        width: 300px;
    }
}

@media (max-width : 425px) {
    .infix-logo-top > .infix-logo {
        height: 80px;
        width: 80px;
    }
    .help-us-expand {
        font-size: 35px;
    }
    .action-buttons {
        width: 250px;
    }
    .links {
        flex-direction: column;
        font-size: 14px;
        margin: 45px;
    }
    .get-social, .contact-email, .privacy-policy, .tAndc, br {
        margin-bottom: 10px;
    }
    .other-links {
        text-align: left;
    }
    .facebook-icon, .instagram-icon  {
        height: 16px;
        width: 16px;
        margin-bottom: -2px;
    }
    .copyright {
        font-size: 14px;
    }
}

