<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Infix{% endblock %}</title>
  <link rel="icon" href="{{url_for ('static', filename='images/favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <!-- remix icons -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
  {% block styles %}{% endblock %}
</head>
<body>
  <!-- navbar -->
  <div id="navbar">
    <div class="navbar-content">
      <a href="#" class="logo"><img src="../static/images/White text, no bg.png" alt="Infix Logo" class="infix-logo-nav"></a>
      <div class="nav">
        <ul class="nav-list">
          <li class="nav-item"><a href="/" class="nav-link" id="{% block HomeActive %}active{% endblock %}">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link" id="{% block AboutActive %}inactive{% endblock %}">About</a></li>
          {% if session.get('user_id') %}
            <li class="nav-item"><a href="/profile" class="nav-link">Profile</a></li>
            <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
          {% else %}
            <li class="nav-item"><a href="/signup" class="nav-link" id="{% block SignUpActive %}inactive{% endblock %}">Get Started</a></li>
            <li class="nav-item"><a href="/login" class="nav-link" id="{% block LogInActive %}inactive{% endblock %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
      <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
  </div>


  <!-- main -->
  {% block content %}
  {% endblock %}
  
  
  <!-- footer -->
  <div id="footer">
    <div class="infix-logo-top">
      <img src="../static/images/Black text, no bg.png" alt="Infix Logo Black" class="infix-logo">
    </div>
    <div class="help-us">
      <p class="help-us-expand"><span class="gray">HELP US</span> <span class="expand">EXPAND</span></p>
      <div class="action-buttons">
        <div class="whitebgBtn-contrast donate"><a href="./">Donate</a></div>
        <div class="whitebgBtn contribute"><a href="./">Contribute</a></div>
      </div>
    </div>
    <div class="links">
      <div class="socials">
        <div class="get-social">
          <span class="social-text">Get Social</span><a href="./"><img class="facebook-icon" src="../static/images/Facebook Icon.png" alt="Facebook Icon"></a><a href="./"><img class="instagram-icon" src="../static/images/Instagram Icon.png" alt="Instagram Icon">
        </div>
        <p class="contact-email">infix@gmail.com</p>
      </div>
      <div class="other-links">
        <a href="./" class="privacy-policy">Privacy Policy</a>
        <br>
        <a href="./" class="tAndc">Terms & Conditions</a>
      </div>
    </div>
  </div>
  <div class="copyright">Copyright © Infix - 2024</div>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>