<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Infix{% endblock %}</title>
  <link rel="icon" href="{{url_for ('static', filename='images/favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  {% block styles %}{% endblock %}
</head>
<body>
  <!-- navbar -->
  <div id="navbar"></div>


  <!-- main -->
  {% block content %}
  {% endblock %}


  <!-- footer -->
  <div id="footer">
    <div class="infix-logo-top">
      <img src="../static/images/Black text, no bg.png" alt="Infix Logo Black" class="infix-logo">
    </div>
    <div class="help-us">
      <h3 class="help-us-expand"><span class="gray">HELP US</span> <span class="expand">EXPAND</span></h3>
      <div class="action-buttons">
        <a href="./" class="donate">Donate</a>
        <a href="./" class="contribute">Contribute</a>
      </div>
    </div>
    <div class="links">
      <div class="socials">
        <div class="get-social">
          <span class="social-text">Get Social</span><a href="./"><img class="facebook-icon" src="../static/images/Facebook Icon.png" alt="Facebook Icon"></a><a href="./"><img class="instagram-icon" src="../static/images/Instagram Icon.png" alt="Instagram Icon">
        </div>
        <p class="contact-email">infix@gmail.com</p>
      </div>
      <div class="other-links">
        <a href="./" class="privacy-policy">Privacy Policy</a>
        <br>
        <a href="./" class="tAndc">Terms & Conditions</a>
      </div>
    </div>
  </div>
  <div class="copyright">Copyright © Infix - 2024</div>
</body>
</html>