{% extends 'base.html' %}
{% block title %}{{course.name}} - Infix{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/course_detail.css') }}">
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
{% endblock %}

{% block HomeActive %}inactive{% endblock %}

{% block content %}
<div id="course-section">
  <h1>{{course.name}}</h1>
  <h3>{{course.course_code}}</h3>
  <div class="topics-container">
    <div>
      
    </div>
  </div>
</div>

{% endblock %}