{% extends 'base.html' %}
{% block title %}{{course.name}} - Infix{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/course_detail.css') }}">
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
{% endblock %}

{% block HomeActive %}inactive{% endblock %}

{% block content %}
<div id="course-section">
  <div class="head">
    <p class="course-name">{{course.name}}</p>
    <p class="course-code">{{course.course_code}}</p>
  </div>
  <div class="topics-list">
    {% for topic in topics %}
    <div class="topic-container">
      <div class="text">
        <p>{{ topic.title }}</p>
        {% if topic.category_id %}
          <p class="category">{{ topic.category }}</p>
        {% endif %}
      </div>
      <div class="view-link">
        <a href="">View</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}