<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Infix - Dashboard</title>
  <link rel="icon" href="{{url_for ('static', filename='images/favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <!-- remix icons -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body>
  <div class="dashboard">
    <div class="sidebar-container">
      <img src="../static/images/White text, no bg.png">
      <div class="menu-item">
        <i class="ri-home-4-line"></i>
        <a href="/">Home</a>
      </div>
      <div class="menu-item">
        <i class="ri-account-circle-line"></i>
        <a href="/about">About</a>
      </div>
      <div class="menu-item active">
        <i class="ri-dashboard-line"></i>
        <a href="/dashboard">Dashboard</a>
      </div>
      <div class="menu-item">
        <i class="ri-book-shelf-line"></i>
        <a href="/courses">Courses</a>
      </div>
      <div class="menu-item">
        <i class="ri-guide-line"></i>
        <a href="/studyguides">Study Guides</a>
      </div>
      <div class="menu-item">
        <i class="ri-settings-5-line"></i>
        <a href="/settings">Settings</a>
      </div>
      <div class="menu-item">
        <i class="ri-logout-box-r-fill"></i>
        <a href="/logout">Logout</a>
      </div>
    </div>
    <div class="main-container">
      <div class="intro-container">
        <h1 style="font-family: 'Platform-Regular';">Welcome back, Ali!</h1>
        <p>Always stay updated in your Infix dashboard</p>
      </div>
      <div class="courses-container">
        <p class="head">Enrolled Courses</p>
        
      </div>
    </div>
  </div>
  



















  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>