{% block flash %}
{% with messages = get_flashed_messages(with_categories=true) %}
  <style>
    /* Flash Alerts */
    .alert {
        padding: 1rem;
        margin: 1rem 0;
        border-radius: 0.25rem;
    }

    .alert-danger {
        background-color: #f8d7da;
        color: #721c24;
    }

    .alert-info {
      color: #856404;
      background-color: #fff3cd;
  }

    .alert-success {
        background-color: #d4edda;
        color: #155724;
    }

    .alert-dismissable .close {
        position: absolute;
        top: 0;
        right: 1rem;
        padding: 0.75rem 1.25rem;
        color: inherit;
    }
  </style>
          {% if messages %}
            {% for category, message in messages %}
              {% if category=="error" or category=="warning" %}
                <div class="alert alert-danger alert-dismissable fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert"> 
                    <span aria-hidden="true">&times;</span></button>
                </div>
              {% elif category=="success" %}
                <div class="alert alert-success alert-dismissable fade show" role="alert">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert"> 
                    <span aria-hidden="true">&times;</span></button>
                </div>
              {% elif category=="info" %}
              <div class="alert alert-info alert-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert"> 
                  <span aria-hidden="true">&times;</span></button>
              </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
{% endblock %}