{% extends 'base.html' %}
{% block title %}Home - Infix{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block content %}
<!-- Video -->
<div id="intro-section">
    <video autoplay loop muted src="../static/intro.mp4"></video>
    <div class="intro-card">
        <h3>Let's Infix</h3>
        <p>Ace your IGCSEs</p>
        <div class="intro-btn-container">
            <div class="whitebgBtn log-in-btn"><a href="">Log in</a></div>
            <div class="whitebgBtn-contrast get-started-btn"><a href="">Get Started</a></div>
        </div>
    </div>
</div>

<!-- path section -->
<div id="path-section"></div>

<!-- works-section -->
<div id="works-section"></div>

<!-- trust-section -->
<div id="trust-section"></div>

<!-- guides-section -->
<div id="guides-section">
    <div class="study-guides"><span>STUDY GUIDES</span></div>
    <div class="byAndread">
        <p>BY A* STUDENTS AND TEACHERS</p>
        <div class="blackbgBtn-contrast read-now-btn"><a class="read-now" href="./">Read Now</a></div>
    </div>
</div>

{% endblock %}


<script src="{{ url_for('static', filename='js/index.js') }}"></script>