{% extends 'base.html' %}
{% block title %}Home - Infix{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block content %}
<!-- Video -->
<div id="intro-section">
    <video autoplay loop muted src="../static/intro.mp4"></video>
    <div class="intro-card">
        <h3>Let's Infix</h3>
        <p>Ace your IGCSEs</p>
        <div class="intro-btn-container">
            <div class="whitebgBtn log-in-btn"><a href="/login">Log in</a></div>
            <div class="whitebgBtn-contrast get-started-btn"><a href="/signup">Get Started</a></div>
        </div>
    </div>
</div>

<!-- path section -->
<div id="path-section">
    <h1><span>Choose your</span> Path</h1>
    <div class="paths-container">
        <div class="olevel-path">
            <p class="line-one">O Level</p>
            <p class="line-two">Comprises expertly curated resources compiled by top-performing A* students</p>
            <p class="line-three"><span class="olevel-num">Check</span> it out</p>
        </div>
        <div class="alevel-path">
            <p class="line-one">A Level</p>
            <p class="line-two">Comprises meticulously designed plans for achieving A* in STEM subjects</p>
            <p class="line-three"><span class="olevel-num">Check</span> it out</p>
        </div>
    </div>
</div>

<!-- trust-section -->
<div id="trust-section">
    <div class="trust-heading"><p class="trusted">Trusted by students of</p></div>
    <div class="logos">
        <div class="logos-slide">
            <img src="../static/images/trusted-logos/1.png" alt="Cedar College Logo"><img src="../static/images/trusted-logos/2.png" alt="Nixor College Logo"><img src="../static/images/trusted-logos/3.png" alt="Eden College Logo"><img src="../static/images/trusted-logos/4.png" alt="Habib Public School Logo"><img src="../static/images/trusted-logos/5.png" alt="Alpha College Logo"><img src="../static/images/trusted-logos/6.png" alt="Mama Parsi Girls School Logo"><img src="../static/images/trusted-logos/7.png" alt="Sceptre College Logo"><img src="../static/images/trusted-logos/8.png" alt="BeasonHouse Schooling System Logo"><img src="../static/images/trusted-logos/9.png" alt="Karachi Grammar School Logo"><img src="../static/images/trusted-logos/10.png" alt="Hexis College Logo"><img src="../static/images/trusted-logos/11.png" alt="The Lyceum Logo"><img src="../static/images/trusted-logos/12.png" alt="The City School Logo">
        </div>
    </div>
</div>

<!-- works-section -->
<div id="works-section">
    <h1>How infix works:</h1>
    <div class="steps-container">
        <div class="step 1">
            <p class="head">Choose your Path</p>
            <p class="mid">Select your course - O Level / A Level to begin the journey..</p>
            <img src="../static/images/steps/1.png">
        </div>
        <div class="step 2">
            <p class="head">Start Learning</p>
            <p class="mid">Engage with a tailored learning plan crafted for your success.</p>
            <img src="../static/images/steps/2.png">
        </div>
        <div class="step 3">
            <p class="head">Read. Write. Test</p>
            <p class="mid">Master your subjects through continuous practice and evaluation.</p>
            <img src="../static/images/steps/3.png">
        </div>
    </div>
</div>

<!-- guides-section -->
<div id="guides-section">
    <div class="study-guides"><span>STUDY GUIDES</span></div>
    <div class="byAndread">
        <p>BY A* STUDENTS AND TEACHERS</p>
        <div class="blackbgBtn-contrast read-now-btn"><a class="read-now" href="./">Read Now</a></div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}