{% extends 'base.html' %}
{% block title %}Home - Infix{% endblock %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

{% block content %}
<!-- Video -->
<div id="intro-section"></div>

<!-- path section -->
<div id="path-section"></div>

<!-- works-section -->
<div id="works-section"></div>

<!-- trust-section -->
<div id="trust-section"></div>

<!-- guides-section -->
<div id="guides-section"></div>

{% endblock %}


<script src="{{ url_for('static', filename='js/index.js') }}"></script>