{% extends 'base.html' %}
{% block title %}Log in - Infix{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

{% block HomeActive %}inactive{% endblock %}
{% block LogInActive %}active{% endblock %}

{% block content %}
  <div class="main-container">
      <img class="in-img" src="{{ url_for('static', filename='images/in-img.gif') }}" alt="">
      <div class="in-form">
        <h2>Sign in</h2>
        <form action="/signin" method="post">
          <div class="in-inputs">
            <div class="input-container">
              <i class="ri-mail-fill"></i>
              <input type="text" name="name" placeholder="Email" required autofocus>
            </div>
            <div class="input-container">
              <i class="ri-lock-2-line"></i>
              <input type="password" name="pwd" placeholder="Password" id="pwd" required>
              <i class="ri-eye-close-line" style="font-size: 26px;cursor: pointer;" id="toggle-one"></i>
            </div>
          </div>
          <div class="change-pwd"><a href="/changepassword">Forgot password?</a></div>
          <div class="in-submit">
            <a href="/signup">New here? <span style="display: block;">Create Account!</span></a>
            <button type="submit">Sign in</button>
          </div>
        </form>
      </div>
  </div>
</div>


<script>
  // eye icon toggle 
  const pwdInput = document.getElementById('pwd')
  const confirmpwdInput = document.getElementById('confirm-pwd')
  const toggleBtnOne = document.getElementById('toggle-one')
  const toggleBtnTwo = document.getElementById('toggle-two')
  toggleBtnOne.addEventListener('click', ()=> {
    if (pwdInput.type === 'password') {
      pwdInput.type = 'text'
      toggleBtnOne.className = 'ri-eye-line'
    } else {
      pwdInput.type = 'password'
      toggleBtnOne.className = 'ri-eye-close-line'
    }
  })
  toggleBtnTwo.addEventListener('click', () => {
    if (confirmpwdInput.type === 'password') {
      confirmpwdInput.type = 'text'
      toggleBtnTwo.className = 'ri-eye-line'
    } else {
      confirmpwdInput.type = 'password'
      toggleBtnTwo.className = 'ri-eye-close-line'
    }
  })
  // handling disabled pwd 
  pwdInput.addEventListener('input', () => {
    if (pwdInput.value.length > 0) {
      confirmpwdInput.disabled = false

    } else {
      confirmpwdInput.disabled = true
      confirmpwdInput.value = ""
    }
  })
</script>
{% endblock %}