{% extends 'base.html' %}
{% block title %}Courses - Infix{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/privacy.css') }}">
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
{% endblock %}

{% block HomeActive %}inactive{% endblock %}

{% block content %}
<div id="privacy-section">
  <div class="head">
    <p class="privacy-title">Infix Privacy Policy</p>
  </div>
  <div class="privacy-content">

  </div>
{% endblock %}