{% extends 'base.html' %}
{% block title %}Courses - Infix{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/progress.css') }}">
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
{% endblock %}

{% block HomeActive %}inactive{% endblock %}

{% block content %}
<div id="progress-container">
  <h1>{{ firstname }}'s Infix Progress</h1>
  <div class="list">
    {% for course in courses %}
    <div class="course-container">
      <p class="course-name">{{ course.name }}</p>

      <div class="progress-bar-container">
        <div class="progress-bar" style="width: {{ completion_data[course.id]['percentage'] }}%;"></div>
        <span class="progress-text">
            {{ completion_data[course.id]['completed'] }} out of {{ completion_data[course.id]['total'] }} topics completed ({{ completion_data[course.id]['percentage'] | round(2) }}%)
        </span>
      </div>

      <div class="topics-container">
        {% for topic in topics_by_course[course.id] %}
        <div class="topic-name {% if topic.completed %}completed{% else %}incomplete{% endif %}">
          <p>{{ topic.title }}</p>
          {% if topic.completed %}
          <span class="material-symbols-outlined icon">done_all</span>
          {% else %}
          <span class="material-symbols-outlined icon">close</span>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>





{% endblock %}