{% extends 'base.html' %}
{% block title %}Confirmation - Infix{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/confirmation.css') }}">
{% endblock %}

{% block nav %}
<div id="navbar">
    <div class="navbar-content">
      <a href="/" class="logo"><img src="../static/images/black text, no bg.png" alt="Infix Logo" class="infix-logo-nav"></a>
  </div>
</div>
{% endblock %}

{% block confirmation %}
<style>
  #confirmation-container {
    text-align: center;
  }
  .drop-btn-container {
    justify-content: center;
  }
</style>

<div id="confirmation-container">
    <div class="confirmation-card">
        <div class="drop-container">
            <h3><span style="color: red;">Reset Account</span> <br>with username  {{user_name}}?</h3>
            <p>You will lose all your saved progress. This action is non-revocable.</p>
            <div class="drop-btn-container">
                <a href="/dashboard"><div class="whitebgBtn">Cancel</div></a>
                {% if with_google %}
                <a href="#" onclick="sendPostRequest()"><div class="whitebgBtn-contrast" style="color: #ffffff !important;">Confirm</div></a>
                {% else %}
                <a href="#verify"><div class="whitebgBtn-contrast" style="color: #ffffff !important;">Confirm</div></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if with_google %}
  <p style="display: none;" class="action">{{action}}</p>
  <script src="{{ url_for('static', filename='js/confirmation.js') }}" ></script>
{% else %}
  {% include 'verify.html' %}
{% endif %}

{% endblock %}

{% block footer %}
{% endblock %}