{% extends 'base.html' %}
{% block title %}Select Path - Infix{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/select-path.css') }}">
{% endblock %}

{% block nav %}
<div id="navbar">
    <div class="navbar-content">
      <a href="/" class="logo"><img src="../static/images/white text, no bg.png" alt="Infix Logo" class="infix-logo-nav"></a>
  </div>
</div>
{% endblock %}

{% block path %}

<div id="path-section">
  <h1><span>Choose your</span> Path</h1>
  <div class="paths-container">
      <div class="olevel-path" onclick="selectPath()">
          <p class="line-one">O Level</p>
          <p class="line-two">Comprises expertly curated resources compiled by top-performing A* students</p>
          <p class="line-three"><span class="olevel-num">Check</span> it out</p>
      </div>
      <div class="alevel-path" onclick="selectPath()">
          <p class="line-one">A Level</p>
          <p class="line-two">Comprises meticulously designed plans for achieving A* in STEM subjects</p>
          <p class="line-three"><span class="olevel-num">Check</span> it out</p>
      </div>
  </div>
</div>








<script src="{{ url_for('static', filename='js/path.js') }}" ></script>
{% endblock %}
{% block footer %}
{% endblock %}