{% extends 'base.html' %}
{% block title %}Change Password - Infix{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

{% block HomeActive %}inactive{% endblock %}

{% block content %}
<div id="signup-page">
</div>
<div class="change-form">
  <h2>Get OTP</h2>
  <p>to set new password</p>
  <form action="/setnewpassword" method="post">
    <div class="change-inputs">
      <div class="input-container">
        <i class="ri-mail-fill"></i>
        <input type="text" name="email" placeholder="Email" required autofocus>
      </div>
    </div>
    {% include 'flash.html' %}
    <div class="change-submit">
      <button type="submit">Get OTP</button>
    </div>
  </form>
</div>

{% endblock %}