<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Infix - Dashboard</title>
  <link rel="icon" href="{{url_for ('static', filename='images/favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <!-- remix icons -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body>
  <!-- {% include 'flash.html' %} -->
  <div class="settings">
    <div class="sidebar-container">
      <img class="logo-dash" src="../static/images/White text, no bg.png">
      <div class="menu-item">
        <i class="ri-home-4-line"></i>
        <a href="/">Home</a>
      </div>
      <div class="menu-item">
        <i class="ri-account-circle-line"></i>
        <a href="/about">About Infix</a>
      </div>
      <div class="menu-item">
        <i class="ri-dashboard-line"></i>
        <a href="/dashboard">Dashboard</a>
      </div>
      <div class="menu-item">
        <i class="ri-book-open-fill"></i>
        <a href="/courses">Courses</a>
      </div>
      <div class="menu-item">
        <i class="ri-bookmark-fill"></i>
        <a href="/bookmarks">Bookmarks</a>
      </div>
      <div class="menu-item">
        <i class="ri-pencil-ruler-2-line"></i>
        <a href="/studyguides">Study Guides</a>
      </div>
      <div class="menu-item">
        <i class="ri-guide-line"></i>
        <a href="/changepath">Change Path</a>
      </div>
      <div class="menu-item active">
        <i class="ri-settings-5-line"></i>
        <a href="/settings">Settings</a>
      </div>
      <div class="menu-item">
        <a href=''></a>
      </div>
      <div class="menu-item">
        <i class="ri-logout-box-r-fill"></i>
        <a href="/logout">Logout</a>
      </div>
    </div>
    <div class="main-container">
      <form action="/settings" method="post">
        <div class="input-container">
          <h1>Full Name</h1>
          <input type="text" class="fullname" name = "fullname" value = "{{ user.fullname }}" required>
        </div>
        <div class="input-container">
          <h1>Nickname</h1>
          <input type="text" class="nickname" name = "nickname" value = "{{ user.nickname }}" required>
        </div>
        <div class="input-container">
          <h1>Email</h1>
          <input type="text" class="fullname" name = "email" value = "{{ user.email }}" required>
        </div>
        {% include 'flash.html' %}
        <div class="btns-container">
          <a href="/changepassword">Change Password?</a>
          <button class="submit" type="submit">Save</button>
        </div>
      </form>
      <form action="">
        <div class="danger-container">
          <button class="delete">Delete Account</button>
          <button class="reset">Reset Progress</button>
        </div>
      </form>
    </div>
  </div>


  <script>
    const deleteBtn = document.querySelector('.delete')
    const resetBtn = document.querySelector('.reset')
    deleteBtn.addEventListener('click', () => {
      window.location.href = '/reset-confirmation';
    })
    resetBtn.addEventListener('click', () => {
      window.location.href = '/delete-confirmation';
    })
  </script>
</body>
</html>