{% extends 'base.html' %}
{% block title %}{{topic_name}} - Infix{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/topic_base.css') }}">
<link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
{% endblock %}

{% block HomeActive %}inactive{% endblock %}

{% block content %}

    <div id="topic-content">
        <div class="links-container">
            {% if topics_data.items() %}
            {% if current_category != "Topics" %}
                <h1 style="padding: 20px 0;">Categories</h1>
            {% else %}
                <h1 style="padding: 10px 0;"></h1>
            {% endif %}
            {% endif %}
            {% for category, topics in topics_data.items() %}
            <div class="categories">
                {% if category == current_category %}
                    <p class="category-name" onclick="toggleCategory('{{ category }}')"
                        class="active">
                    {{ category }}
                    </p>
                {% else %}
                    <p class="category-name" onclick="toggleCategory('{{ category }}')">
                    {{ category }}
                    </p>
                {% endif %}
                {% if category == current_category %}
                    <div id="{{ category|replace(' ', '_') }}" class="topics" 
                        style="display: block;">
                        {% for topic in topics %}
                            {% if topic['title'] == current_topic %} 
                                <a href="/course/{{course_code}}/{{topic['title']}}" class="topics-name current">
                                    {{ topic['title'] }}
                                </a>
                            {% else %}
                                <a href="/course/{{course_code}}/{{topic['title']}}" class="topics-name">
                                    {{ topic['title'] }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div id="{{ category|replace(' ', '_') }}" class="topics" 
                    style="display: none;">
                        {% for topic in topics %}
                            {% if topic['title'] == current_topic %} 
                                <a href="/course/{{course_code}}/{{topic['title']}}" class="topics-name current">
                                    {{ topic['title'] }}
                                </a>
                            {% else %}
                                <a href="/course/{{course_code}}/{{topic['title']}}" class="topics-name">
                                    {{ topic['title'] }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <div class="topic-main">
            <div class="topic-detail">
                {% include 'flash.html' %}
                {% block topic_detail %}

                {% endblock %}
            </div>
            <div class="buttons">
                {% if not completed %}
                    <form action="/markascomplete" method="post">
                        <input type="hidden" value="{{ topic_id }}" name="topic_id">
                        <input type="hidden" value="{{ course_code }}" name="course_code">
                        <input type="hidden" value="{{ topic_name }}" name="topic_name">
                        <button class="mark-as-complete" type="submit">
                            <span>Mark as Complete</span> 
                            <i class="ri-checkbox-circle-line"></i>
                        </button>
                    </form>
                {% else %}
                    <form action="/marknotcomplete" method="post">
                        <input type="hidden" value="{{ topic_id }}" name="topic_id">
                        <input type="hidden" value="{{ course_code }}" name="course_code">
                        <input type="hidden" value="{{ topic_name }}" name="topic_name">
                        <button class="mark-as-complete completed" type="submit" title="Mark Not Complete">
                            <span>Topic Completed</span> 
                            <i class="ri-checkbox-circle-fill"></i>
                        </button>
                    </form>
                {% endif %}
                {% if next_topic %}
                    <a href="/course/{{course_code}}/{{ next_topic }}">
                        <button class="next">
                            <span>Next Topic</span> 
                            <i class="ri-arrow-right-circle-line"></i>
                        </button>
                    </a>
                {% endif %}
            </div>
            
        </div>
        <div class="table-of-content" id="toc-container">
            <p class="table-head">Table Of Content</p>
            <div class="content-link" id="toc-main">
                
            </div>
        </div>
    </div>

    <div id="contributors">
        <h3 style="text-align: center;"><a href="/contributors" class="contributor-head" >Contributors</a> <br><span style="font-size: 18px; font-family: 'Platform-Light'; font-weight: 100; letter-spacing: 1px;">for {{topic_name}}</span></h3>
        {% if contributors %}
            <div class="contributor-list">
                {% for contributor in contributors %}
                    <form action="{{ contributor['link'] }}" method="get" class="contributor-form">
                        <button type="submit" class="contributor-item">
                            <div class="contributor-icon-container">
                                <i class="ri-user-3-line contributor-icon"></i>
                            </div>
                            <div class="contributor-details">
                                <h4>{{ contributor['name'] }}</h4>
                                <p>{{ contributor['email'] }}</p>
                                <p class="contributor-description quote">{{ contributor['description'] }}</p>
                            </div>
                        </button>
                    </form>
                {% endfor %}
            </div>
        {% else %}
            <p class="no-contributors">No contributors found for this topic.</p>
        {% endif %}
    </div>
    

{% if not bookmarked %}
    <form action="/add-bookmark" method="post" id="bookmark-request">
        <input type="hidden" value="{{ topic_id }}" name="topic_id">
        <input type="hidden" value="{{ course_code }}" name="course_code">
        <input type="hidden" value="{{ topic_name }}" name="topic_name">
    </form>
{% else %}
    <form action="/remove-bookmark" method="post" id="bookmark-request">
        <input type="hidden" value="{{ topic_id }}" name="topic_id">
        <input type="hidden" value="{{ course_code }}" name="course_code">
        <input type="hidden" value="{{ topic_name }}" name="topic_name">
    </form>
{% endif %}


<!-- Include jQuery before your custom scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="{{ url_for('static', filename='js/topic_base.js') }}" ></script>
{% endblock %}
